.sim {
    background-color: white;
    stroke: #80cebb;
    stroke-width: 20;
    padding: 1vw;
    stroke-opacity: 1;
    box-shadow: inset 0 0 0 1.1vw #80cebb;
    margin: 4vw;
}

.agent
{
    fill: #5d5c88;
    stroke: none;
}

.obstacle
{
    fill: #80cebb
}